<a href="https://colab.research.google.com/github/mbellezi/python-and-neural-networks-intro/blob/master/Python_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![texto alternativo](https://pluralsight.imgix.net/paths/python-7be70baaac.png)
#Python small revision for programmers

# Main Characteristics

* Not explicit declaration of types
* Interpreted (with JIT compiler)
* Functional and OOP Oriented
* Namespaces and Modules
* Indentation used to separete code blocks

# Reserved Keywords

This are the reserved Python keywords

In [ ]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

# Statements and Variables

## Variable names

Python variable names can be constructed using a combination of letters (lower and uppercase), digits and underscore (_), and must not begin with a digit.

**Valid Names:**

```
Variable1 
variable_Spacial
v0_b1_
```
**Invalid Names:**

```
1Variable
0_variable
```

## Statements

Are logical instructions that pyrhon can execute

### Expressions

In [ ]:
1 + 2

3

In [ ]:
(1 + 2) * 5

15

In [ ]:
2**8

256

In [ ]:
eval("2+5")

7

### Variable assignment

In [ ]:
variable1 = 10
variable2 = variable1

print(variable1, variable2)

10 10

### Multi Line Statement

Use the inverted slash (\\) to continue a statement in other line

In [ ]:
(10 + 15) \
* 4 \
/5

20.0

## Data Types

Python has a number of native data types:

* Numbers
* Strings
* Bytes
* Booleans
* Lists
* Tuples
* Sets
* Dictionaries

### Numbers

The Python numerical values  can be classified as `int`, `float` and `complex`. 

Complex numbers can be represented adding a `j` or a `J` to the end of the number as the imaginary part or use the `complex` function.

Examples:

In [11]:
i = 4
print(f"The type of the n variable is {type(i)} and it's value: {i}")

f = 4.5
print(f"The type of the f variable is {type(f)} and it's value: {f}")

a = i*f
print(f"The type of the a variable is {type(a)} and it's value: {a}")

c = 4+5j
print(f"The type of the c variable is {type(c)} and it's value: {c}")

d = complex(6,15)
print(f"The type of the d variable is {type(d)} and it's value: {d}")

e = c+d
print(f"The type of the e variable is {type(e)} and it's value: {e}")

The type of the n variable is <class 'int'> and it's value: 4
The type of the f variable is <class 'float'> and it's value: 4.5
The type of the a variable is <class 'float'> and it's value: 18.0
The type of the c variable is <class 'complex'> and it's value: (4+5j)
The type of the d variable is <class 'complex'> and it's value: (6+15j)
The type of the e variable is <class 'complex'> and it's value: (10+20j)

Some interesting facts:

*   **Integers** do not have a size limit in Pyhton and are only limited by memory
*   **Floats** are double 64-bit double precision values and.

#### Useful functions

To use some math functions one must first import the math library

```
import math
```

Find **minimum** and **maximum** of a list of values

In [40]:
import math

min(1.0, 4, 10.5)

1.0

In [41]:
max(1, 10, 30)

30

Round values

In [52]:
# Round to the lower interger
math.floor(3.777)

3

In [45]:
# Round to the upper interger
math.ceil(3.777)

4

In [47]:
# Round to the nearest interger
round(3.777)

4

In [48]:
round(3.5)

4

In [50]:
round(3.499999)

3

### Strings

A Python String can be represented enclosed by both single `'` or double `"` quotes.

Examples:

In [15]:
str1 = 'I\'n a String using single quotes'
print(str1)

str2 = "I'm a String using double quotes"
print(str2)

I'n a String using single quotes
I'm a String using double quotes

Python can use multi line strings using the triple double quotes:

In [21]:
str3 = """I'm a multiline string,
and I can fit in more than one line."""
print(str3)

I'm a multiline string,
and I can fit in more than one line.

String contactenation can be done using the `+` operator:

In [23]:
str4 = "One of the most used languages for data science is: "
str5 = "Python"
print(str4+str5)

One of the most used languages for data science is: Python

To construct formatted strings a great option is use the `f` prefixed string. They ar constructed places an `f` before the first quotation mark. Inside the string one case inser any expression surround it with braces `{}`. C's `sprintf` like formatting can be used using the method `format` of the class `string`.

[Format Cheat Sheet](https://craigmbooth.com/images/blog/pythonstring/PythonNumberFormatting.pdf)

In [53]:
str6 = f"The area of a circle o radius 4 is {math.pi*4**2}"
print(str6)

str7 = "The area of a circle o radius 4 is {:.2f}".format(math.pi*4**2)
print(str7)

The area of a circle o radius 4 is 50.26548245743669
The area of a circle o radius 4 is 50.27

#### Useful functions

The `string` class has some useful manipulation funcions

**Lower** and **Upper** case a string

In [54]:
"I want to be upper cased".upper()

'I WANT TO BE UPPER CASED'

In [55]:
"I want to be lower cased".lower()

'i want to be lower cased'